@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "Index";
}
@model PagedList<MvcProject.Model.Moviedetail>
<style>
    .check_link{
        color:black;
        text-decoration:none;
        font-weight:bolder;
    }
    a.check_link:hover {
        color: black;
        text-decoration: none;
    }
</style>
<h2>Index</h2>
<p>@Html.ActionLink("添加电影", "AddMovie", "Movie")</p>
Ajax:搜索:<input type="text" id="searchname" />
<button id="btn_name">确定</button>
<select id="ddl_type">
    @foreach (MvcProject.Model.movieType item in ViewBag.type_list)
    {
        <option value="@item.typeId">@item.typeName</option>
    }
</select>
<hr />
<div>
    <ul id="countryType" class="list-inline">
        <li><a href="/Movie/Index/0-@ViewBag.num_tid">全部</a></li>
        @foreach (MvcProject.Model.country item in @ViewBag.country_list)
        {
            <li><a href="/Movie/Index/@item.cid-@ViewBag.num_tid">@item.cname</a></li>
        }
    </ul>
</div>
<div>
    <ul id="movieType" class="list-inline">
        <li><a href="/Movie/Index/@ViewBag.num_cid-0">全部</a></li>
        @foreach (MvcProject.Model.movieType item in @ViewBag.type_list)
        {
            <li><a href="/Movie/Index/@ViewBag.num_cid-@item.typeId">@item.typeName</a></li>
        }
    </ul>
</div>
<form action="/Movie/Index" method="get">
    <table id="tab1" class="table-bordered table-hover table-striped">
        <tr>
            <td>MVC检索</td>
            <td><input type="text" name="txtname" value="@Request.QueryString["txtname"]"/></td>
            <td><input type="date" name="txttime" value="@Request.QueryString["txttime"]"/></td>
            <td><input type="submit" value="查询" /></td>
        </tr>
        <tr><td>编号</td><td>电影名称</td><td>上映时间</td><td>影片类型</td><td>国家</td><td>更新</td><td>删除</td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.mid</td>
                <td style="color:cornflowerblue;">@item.mname</td>
                <td>@item.createtime</td>
                <td>@item.typeName</td>
                <td>@item.cname</td>
                <td>@Html.ActionLink("更新", "Edit", new { id = @item.mid })</td>
                <td>@Html.ActionLink("删除", "Delete", new { id = @item.mid })</td>
            </tr>
        }
    </table>
    <div class="text-left">
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageindex", HorizontalAlign="left", PagerItemTemplate = "{0}&nbsp;" })
    </div>
</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#btn_name").click(function () {
            if ($("#searchname").val() == "") {
                window.location.href = "/Movie/Index";
            }
            else {
                $("#tab1 tr:not(:first)").empty();
                $.getJSON("/Movie/SelectByName", { searchname: $("#searchname").val() }, function (data) {
                    if (data.length > 0) {
                        $.each(data, function (index, item) {
                            $("#tab1").append("<tr><td>" + item.mid + "</td><td style='color:cornflowerblue;'>" + item.mname + "</td><td>" + item.createtime + "</td><td>" + item.typeName + "</td><td><a href='/Movie/Edit/" + item.mid + "'>更新</a></td><td><a href='/Movie/Delete/" + item.mid + "'>删除</a></td></tr>")
                        })
                    }
                    else {
                        alert("查询无果!");
                        window.location.href = "/Movie/Index";
                    }
                })
            }
        })
        $("#ddl_type").change(function () {
            $("#tab1 tr:not(:first)").empty();
            $.getJSON("/Movie/SelectByType", { typeId: $(this).val() }, function (data) {
                $.each(data, function (index, item) {
                    $("#tab1").append("<tr><td>" + item.mid + "</td><td style='color:cornflowerblue;'>" + item.mname + "</td><td>" + item.createtime + "</td><td>" + item.typeName + "</td><td><a href='/Movie/Edit/" + item.mid + "'>更新</a></td><td><a href='/Movie/Delete/" + item.mid + "'>删除</a></td></tr>")
                })
            })
        })
        Check_Url();
    })
    function Check_Url() {
        var url_option = window.location.pathname.split("/").filter(function (value) {
            return value.length > 0;
        });
        if (url_option.length > 2) {
            var number_list = url_option[2].split("-");
            var cid = number_list[0];
            var tid = number_list[1];
            $("#countryType li a").eq(cid).addClass("check_link");
            $("#movieType li a").eq(tid).addClass("check_link");
        }
    }
</script>

